html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: mj-NotoSans-Regular;
    src: url(../fonts/Noto-Sans/NotoSans-Regular.ttf);
}
body{
    font-family: mj-NotoSans-Regular;
    font-size: 17px;
    background-color: #12232E;
}
/* Home begins */
/* nav bar begins */
header{
    height: 97vh;
    background-color: #12232E;
}
.nav-bar{
    display: flex;
    color: #EEFBFB;
    margin-top: 30px;
    justify-content: space-evenly;
}
.nav-bar-2 > ul{
    display: flex;
    margin-left: 100px;
    justify-content: space-around;
}
.nav-bar-2 > ul > li{
    margin-right: 30px;
    list-style-type: none;
}
.nav-bar-2 > ul > li > a{
    text-decoration: none;
    color: #EEFBFB;
}
/* nav bar ends */
main{
    margin-top: 120px;
}
.main-first{
    height: 220px;
    width: 220px;
    border-radius: 100%;
    border: 5px solid #4DA8DA;
    position: relative;
    margin-top: 70px;
    margin-left: 370px;
}
.main-first > img{
    height: 200px;
    width: 200px;
    top: 10px;
    left: 10px;
    border-radius: 100%;
    position: absolute;
}
.main-second{
    margin-top: 30px;
}
.main-second > h2{
    color: #4DA8DA;
    font-size: 15px;
    margin-left: 370px;
}
.main-second > h1{
    color: #EEFBFB;
    font-size: 55px;
    margin-left: 370px;
    margin-top: 10px;
}
.main-second > p{
    color: #EEFBFB;
    margin-left: 370px;
    margin-top: 10px;
}
/* Home ends */

/* About begins */
.about{
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: space-around;
    background-color: #EEFBFB;
}
.about > .about-1 > img{
    height: 500px;
    margin-top: 150px;
    border: 15px solid #12232E; 
    border-radius: 20px;
}
.about > .about-2{
    margin-top: 270px;
}
.about > .about-2 > h2{
    font-size: 40px;
    color: #12232E;
    margin-left: 230px;
}
.about > .about-2 > p{
    color: #12232E;
    font-size: 20px;
    margin-top: 15px;
}
.about > .about-2 > button{
    padding: 10px;
    border: 50px;
    margin-top: 20px;
    margin-left: 370px;
    border-radius: 40px;
    border: 0px solid transparent;
    background-color: #12232E; 
}
.about > .about-2 > button > p{
    font-size: 15px;
    color: #EEFBFB;
}
.about > .about-2 > button > p > a{
    color: #EEFBFB;
    text-decoration: none; 
}
/* About ends */

